#dashboard {
  background-color: #ffffff;
  margin-left: 0px;
  margin-top: 20px;

  .welcome {
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    font-size: 1em;
    margin-left: 10px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding: 20px;
    background-color: #ffffff;
  }

  .image {
    text-align: center;
  }

  .header {
    margin-bottom: 50px;

  }
  .info-card {
  }

  .info {
    margin-top: 20px;
  }

  .courses-card {
    padding: 10px;
  }

  .calendar-card {
    padding: 10px;
    text-align: center;
  }

// background-color: #217167;

}

