.welcome {
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
  font-size: 2em;
}

.container {
  margin: 20px;
  display: flex;
  padding: 10px;
}

.info-card {
  padding: 10px;
}

.courses-card {
  padding: 10px;
}

.calendar-card {
  padding: 10px;
}
