#dashboard {
  background-color: #ffffff;
  margin-left: 0px;
  margin-top: 20px;

  .welcome {
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    font-size: 1em;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding: 20px;
    background-color: #ffffff;
  }

  .card-body {
    width: 200px;
    padding: 10px;
  }
  .card-text {
    margin-bottom: 10px;
  }
  .image {
    text-align: center;
  }

  .header {
    margin-bottom: 50px;

  }
  .info-card {
  }
  .avatar-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  }

  .info {
    margin-top: 20px;
  }

  .courses-card {
    padding: 10px;
  }

  .calendar-card {
    padding: 10px;
    text-align: center;
  }
}
// background-color: #217167;
