.container-lg{
  width: 60%;
  height: 500px;
  padding-top: 60px;
  align-content: center;
  margin-top: 100px;
  text-align: center;
  border: 2px solid #018a79;
}

#sign-up {
  height: 950px;
  width: 70%;
}

.sign-up-header{
  color: #018a79;
  font-family: roboto;
  padding: 40px;
}

.forgot-header{
  color: #018a79;
  font-family: roboto;
  padding: 40px;
}

.row-signup{
  width: 100%;
  place-content: center;
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 0px;
}

.row-forgot{
  width: 100%;
  place-content: center;
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 0px;
}


.row{
  place-content: center;
  text-align: left;
}

.img-smaller {
  max-width: 150px;
  height: auto;
  margin-bottom: 40px;
}

.form-action{
  color: #005B50;
}

.forgot-form, .sign-up-form{
  color: #005B50 !important;
  font-family: roboto !important;
}

.form-control{
  background-color: white !important;
  border: 1px solid #005B50;
}


