<div id="search-bar">
  <div class="background-image" style="background-image: url(<%= asset_path'landing_background.jpg'%>)">
    <div class="bold-logo-div">
      <img class="bold-logo" src="https://res.cloudinary.com/dolfny7hf/image/upload/v1603809296/Bold_est1tz.png" alt="bold-logo">
    </div>

      <div class="search-bar-div">
        <form class="search-form">
          <input class="search-bar" type="search" placeholder="Type of Yoga">
        <a class="btn btn-ghost" href="#">Search</a>
      <!--     <%= link_to "search", courses_path %> -->
          <h1>Pages#home</h1>
        </form>
      </div>
  </div>
</div>

<div id="course-card-div">
  <div class="course-card-row">
    <div class="card-course">
      <img src="https://res.cloudinary.com/dgmgwjok1/image/upload/c_scale,q_100,w_300/v1603823158/dane-wetton-t1NEMSm1rgI-unsplash_vyigoa.jpg" alt="course-image">
        <div class="card-course-infos">
          <h2>Vinyasa yoga</h2>
          <p>Vinyasa yoga class</p>
        </div>
    </div>
    <div class="card-course">
      <img src="https://res.cloudinary.com/dgmgwjok1/image/upload/c_scale,q_100,w_300/v1603823157/bruce-mars-gJtDg6WfMlQ-unsplash_r7n4kr.jpg" alt="course-image">
        <div class="card-course-infos">
          <h2>Hatha yoga</h2>
          <p> Hatha yoga class</p>
        </div>
    </div>
  </div>
  <div class="course-card-row">
    <div class="card-course">
      <img src="https://res.cloudinary.com/dgmgwjok1/image/upload/c_scale,q_100,w_300/v1603823158/kari-shea-qa1wvrlWCio-unsplash_gl5lot.jpg" alt="course-image">
        <div class="card-course-infos">
          <h2>Online yoga</h2>
          <p> Online yoga class</p>
        </div>
    </div>
    <div class="card-course">
      <img src="https://res.cloudinary.com/dgmgwjok1/image/upload/c_scale,q_100,w_300/v1603823158/dylan-gillis-YJdCZba0TYE-unsplash_t9ypso.jpg" alt="course-image">
        <div class="card-course-infos">
          <h2>Kat's yoga</h2>
          <p> Kat's yoga class</p>
        </div>
    </div>
  </div>

</div>

