<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/500x500/?yoga)">
<span><%= locals[:occurence].course.name %></span>

<span><%= locals[:occurence].date %></span>
</div>
