<div class="card-show">
<span id="span-style"><%= locals[:occurence].course.name %></span><span id="span-style"><%= locals[:occurence].date %></span>
<% if user_signed_in? %>
  <% if !current_user.teacher or current_user.nil? %>
  <span>
    <% if @course.occurence.date.to_datetime.present? || @course.occurence.date.to_datetime.future? %>
      <%= link_to 'book', new_course_booking_path(@course), class: "btn btn-outline-success" %>
    <% end %>
  </span>
  <% end %>
<% else %>
  <%= link_to 'sign in to book', new_user_session_path %>
<% end %>
</div>
