#course-card-div {
  background-color: white;
  width: 600px;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // color: #f2f2f2;

.card-course {
  overflow: hidden;
  height: 120px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  // align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  margin-top: 15px;
  margin-left: 10px;
  // border: 1px solid black;
  // transition-property: background-color;
  // transition-duration: 0.6s;
  // transition-timing-function: linear;
  background: -webkit-linear-gradient(#ffffff,#018a79);
  background: -moz-linear-gradient(#ffffff,#018a79);
  background: -o-linear-gradient(#ffffff,#018a79);
  background: linear-gradient(#ffffff,#018a79);
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
    // background-size:1px 200px;
    // border-radius: 10px;
    // border: 1px solid #839DB0;
    // cursor:pointer;
    // width: 150px;
    // height: 100px;
}

.card-course img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-course h2 {
  font-family: work-sans;
  color: black;
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

.card-course p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-course .card-course-infos {
  text-align: left;
  padding-top: 10px;
  // padding: 16px;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // space-between: 20px;
}

.course-card-row {
  display: flex;
  width: 600px;
}
.card-course:hover, .card-course img:hover {
  opacity: 1;
  background: #e2a9e5;
  background: -moz-linear-gradient(-15deg, #ffffff 15%, #018a79 100%);
  background: -webkit-linear-gradient(-15deg, #ffffff 15%,#018a79 100%);
  background: linear-gradient(135deg, #ffffff 15%,#018a79 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#018a79',GradientType=1 );
  background-position:100px;

}


}




.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-show {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  border: 1px solid #018a79;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: right;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  text-align: center;
}

.cards-header{
  font-weight:bold;
}
.cards-parag{
  font-size: 20px;
}
.card-show-info {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  // border: 0.5px solid #018a79;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 18px;
  border-radius: 5px;
}
.card-category-teacher {
  height: 200px;
  justify-content: space-between;
  border-radius: 0;
    h1 {
    margin-right: 150px;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: none;
  }
}
.card-relative {
  position: relative;
  background-color: rgba(34, 112, 103,0.7);
  margin-left: 100px;
  margin-top: 150px;
  max-height: 500px;
  max-width: 420px;
  width: 420px;
  height: 330px;
  text-align: center;
  justify-content: center;
  display: block;
  color: white;
  border-radius: 5px;
  padding: 20px 30px;
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    font-weight: 400;
    font-size: 18px;
    text-shadow: none;
  }
}
.card-info {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(60, 60, 60);
  padding: 20px;
  border-radius: 5px;
  margin-left: 550px;
  margin-top: 20px;
  max-height: 400px;
  justify-content: center;
  height: 120px;
  max-width: 800px;
  font-size: 18px;
}

.button-link-to {
  position: relative;
  width: 100%;
}

.link-to {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px
}





