#course-card-div {
  background: white;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;

.card-course {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 400px;
  margin-top: 15px;
  margin-left: 10px;
}

.card-course img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-course h2 {
  font-size: 25px;
  margin: 0;
}

.card-course p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-course .card-course-infos {
  padding: 16px;
}

// .course-card-row {
//   display: flex;
//   width: 600px;
// }

}
