// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/dark";
@import "simple_calendar";


// Your CSS partials
@import "components/index";
@import "components/main_btn";
@import "components/font";
@import "pages/index";
@import "pages/courses";

@import 'mapbox-gl/dist/mapbox-gl';

body {
  background-color: white;
  font-family: "Roboto", "Work Sans", "sans-serif";
}

@media(max-width: 1080px) {
  body {
    width: 966px;
  }
  .navbar {
    max-width: 966px;
  }
  .card-course {
    grid-template-columns: 1fr;
  }
  .card-course-infos{
    overflow: scroll;
  }
  .card-info {
    overflow: scroll;
  }
}

@media(max-width: 768px) {
   body {
    width: 650px;
  }
   .navbar {
    max-width: 650px;
  }
  .card-course {
    grid-template-columns: 1fr;
  }
  .card-course-infos{
    overflow: scroll;
  }
   .card-info {
    overflow: scroll;
  }
}
